body {
  background: #F2F2F2;
  padding-top: 65px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #444;
}
a, a:hover {
  color: #185787;
}
p {
  margin: 0;
  padding: 0 0 13px 0;
}
div.clear {
  clear: both;
}
div.container {
  width: 580px;
  background: #FFF;
  position: relative;
  margin: 0 auto;
  padding: 0 0 20px 0;
  border: 1px solid #c0daea;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
div.title {
  padding-top: 34px;
  padding-left: 39px;
  padding-right: 39px;
  text-align: left;
/*  border-left: 1px solid #DDD;*/
/*  border-right: 1px solid #DDD;*/
}
div.title h2 {
  font-size: 30px;
  color: #333;
  font-weight: normal;
  margin: 0 0 13px 0;
  padding: 0;
  letter-spacing: 0;
}
div.title h3 {
  font-size: 16px;
  color: #3e434a;
  font-weight: normal;
  margin: 0;
  padding: 0 0 6px 0;
  line-height: 25px;
}
ul#todos {
  padding: 0;
}
li.todo {
  position: relative;
  top: 0;
  list-style: none;
  display: block;
  padding-left: 10px;
  text-align: left;
  width: 220px;
  height: 30px;
  border: 1px solid #c0daea;
  line-height: 30px;
  margin: 0 auto -1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
li.todo:hover {
  background: #C6DEED;
}
div.done:hover {
  background: #BF2A22;
  color:#DFDFDF;
}
div.done {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #c0daea;
  background: #DFDFDF;
  height: 30px;
  margin-bottom: 1px;
  width: 30px;
}
a.delete {
  text-decoration: none;
  color: #BF2A22;
  font-weight:bold;
}


/*  .field input { display: block; }*/
    
    .field input.text {
      font-weight: bold;
      border: 1px solid #338199;
      border-color: #1d91d7;
      border-color: #c0daea;
      padding: 7px 3px 7px 7px;
      font-size: 15px;
      letter-spacing: 0.2px;
      margin: 3px 0 0 1px;
      background: #fff;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px; }
    .field input.button {
      margin: 5px 0 0 0;
      background: #0084d4;
      border: 2px solid #0078C1;
      font-size: 14px;
      font-weight: bold;
      padding: 4px 15px 4px 15px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      color: #fff;
      text-decoration: none; }
      .field input.button:hover {
        background: #0078C1;
        color: #DCE4E7; }